    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About the Preclinical Imaging Core</h2>
                <p>PIC is open for researchers in NYSPI since 2016. It provides high quality equipment for multiphoton imaging and photostimulation experiments in head-fixed preparatums <i>in vivo</i>. PIC also has a prototyping lab (ProLab) led by Clay Lacefield for making low-cost experimental equipment with quick turnaround time.</p>
                <p>Parts of this site are still under construction, please email us for further information</p>
            </div>
        </div>
    </section>