    <!-- People Section -->
    <section id="people" class="content-section text-center">
        <div class="people-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>people</h2>
                    <h3>PIC is run by:</h3>
                    <a href="./pages/aboutGergely.html" class="btn btn-default btn-lg">Gergely Turi</a>
                    <br>
                </div>
            </div>
        </div>
    </section>
    <section id="curr_members" class="content-section text-center">
        <div class="people-section">
            <div class="col-lg-8 col-lg-offset-2">   
                <h3>Mentor list</h3>
                <br>
                <a href="./pages/aboutKally.html" class="btn btn-default btn-lg">Dr. Kally Sparks</a>
                <a href="./pages/aboutGergely.html" class="btn btn-default btn-lg">Dr. Gergely Turi</a>                                
            </div>
        </div>
    </section>